#navBar {
  background-color: rgb(23, 179, 23);
  height: 3rem;
  font-size: 1.5rem;
  line-height: 3rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1rem;
  user-select: none;

  #btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10rem;

    .btn {
      cursor: pointer;
      transition-duration: 200ms;
    }

    .btn:hover {
      color: white;
      font-size: 1.7rem;

      transition-duration: 200ms;

    }


  }

  #btnHome {
    cursor: pointer;
    transition-duration: 200ms;
  }


}

body {
  margin: 0;

  #container {
    #welcomeKale {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    width: 30rem;
    height: 30rem;
  }

}

.center {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

footer {
  background-color: rgb(23, 179, 23);
  height: 3rem;
  font-size: 1.5rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 1rem;
  text-align: center;

}

.modak-regular {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}

.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}